@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0; list-style:none; outline:none; border:0; background:none;}
body{font-size:14px; font-family:"微软雅黑";}
a:link,a:visited{color:#fff; text-decoration:none;}
a:hover{text-decoration:none;}
.head{
	width:980px; 
	margin:0 auto; 
	height:50px; 
	padding-top:10px;
}
.head .left{float:left;}
.head .text{
	font-family:"楷体";
	font-size:35px;
	font-weight:bold;
	color:black;
	float:right;
}
#nav{
	width:100%; 
	background:#06F;
}
.nav{
	width:980px;  
	height:35px;
	line-height:35px;
	margin:0 auto; 
	text-align:center; 
	font-size:14px;
}
.nav li{float:left;}
.nav a{
	display:inline-block; 
	padding:0 40px;
}
.nav a:hover{background:#09F;}
.nav .aa{background:#09F;}
.footer{
	width:100%; 
	height:50px; 
	line-height:45px; 
	text-align:center; 
	background:#06F; 
}
.banner{
	width: 100%;
	height: 580px;
	position: relative;
	overflow: hidden;
}
.bb{
	position:absolute; 
	left:50%; 
	top:0; 
	margin-left:-960px;
}
#first{
	width: 1100px;
	margin: 0 auto;
}
h1{ 
	font-weight:100; 
	font-size:24px; 
	padding:40px 0; 
	border-bottom:7px solid yellow;
}
#first dl{
	width:1100px;
	height:220px;
}
#first .d1{
	width:150px; 
	height:190px; 
	background:url(images/warriors2.png) center center no-repeat; 
	float:left;
}
#first p{
	width:750px; 
	padding:20px 0 0 30px; 
	float:left;
}
#first .txt{
	color:#6b6862; 
	line-height:24px;
}
#second{
	width: 1100px;
	margin: 0 auto;
}
#second dl{
	width:1000px;
	height:1080px;
}
#second .d1{
	width:160px; 
	height:200px; 
	background:url(images/person6.jpg) center center no-repeat; 
	float:left;
}
#second p{
	width:750px; 
	height: 200px;
	padding:20px 0 0 30px; 
	float:left;
}
#second .txt1{
	color:#6b6862; 
	line-height:24px;
}
#second .d2{
	width:160px; 
	height:200px; 
	background:url(images/person7.jpg) center center no-repeat; 
	float:left;
}
#second .d3{
	width:160px; 
	height:200px; 
	background:url(images/person8.jpg) center center no-repeat; 
	float:left;
}
#second .d4{
	width:160px; 
	height:200px; 
	background:url(images/person9.jpg) center center no-repeat; 
	float:left;
}
#second .d5{
	width:160px; 
	height:200px; 
	background:url(images/person10.jpg) center center no-repeat; 
	float:left;
}
#third{
	width: 1100px;
	margin: 0 auto;
}
.imgbox{
	width:1050px;
	padding:0 20px;
	white-space:nowrap;
	overflow:hidden;
}
.imgbox img{
	width:850px; 
	height:650px; 
	padding:2px;
}
#fourth{
	width: 1100px;
	margin: 0 auto;
}
